<p id="notice"><%= notice %></p>

<%= image_tag(@project.cover, style: "max-height: 100px;") if @project.cover.attached? %>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Archive:</strong>
  <%= @project.archive %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Categories:</strong>
  <%= @project.categories.map(&:name).join(" | ") %>
</p>

<%= render "tasks/index", tasks: @project.tasks.by_priority, hide_links: true %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'New task', new_project_task_path(@project) %> |
<%= link_to 'Tasks index', project_tasks_path(@project) %> |
<%= link_to 'Back', projects_path %>
