<header>
  <%= link_to root_path do %>
    <%= image_tag "logo.png", alt: "LGM logo" %>
  <% end %>
  <nav>
    <%= link_to "Projects", projects_path %>
    <%# link_to "Tasks", tasks_path %>
    <% if user_signed_in? %>
      <% if current_user.admin? %>
        <%= link_to 'Categories', admin_categories_path %>
      <% end %>

      <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Sign in", new_user_session_path %>
    <% end %>
  </nav>
  <%= render "flash" unless flash.empty? %>

</header>
