<!DOCTYPE html>
<html>
  <%= render "head" %>

  <body class="<%= content_for?(:body_class) ? content_for(:body_class) : "body" %>">
    <%= render "header" %>

    <div class="main-content">
      <% if content_for?(:sidebar) %>
        <div class="sidebar">
          <%#= yield(:sidebar) %>
          <%= content_for(:sidebar) %>
        </div>
      <% end %>
      <main>
        <%= yield %>
      </main>
    </div>

    <%#= render "footer" %>
    <%= render "shared/footer", footer_class: "main-footer" %>
    <%# render partial: { "shared/footer" }, locals: { footer_class: "main-footer" } %>
  </body>
</html>
