<!DOCTYPE html>
<html>
  <%= render "head" %>

  <body class="<%= content_for?(:body_class) ? content_for(:body_class) : "body" %>">
    <%= render "header" %>

    <div class="main-content">
      <% if content_for?(:sidebar) %>
        <div class="sidebar">
          <%#= yield(:sidebar) %>
          <%= content_for(:sidebar) %>
        </div>
      <% end %>
      <main>
        <%= yield %>
      </main>
    </div>

    <footer>
      Copyright <%= Time.current.year %>
    </footer>
  </body>
</html>
